.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#letters {
	height: 25px;
  display: table;
}
#letters ul {
	list-style: none;
	display: flex;
  flex-direction: row;
  height: 25px;
}
li.letter-item{
	width: 25px;
	height: 25px;
	display: flex;
	border: 1px solid #ccc;
	background: rgba(0,0,0,0.2);
	border-radius: 2px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}
#lettrs.correct li.letter-item{
  border: 1px solid transparent;
	background: transparent;
}
.button-image {
	border: none;
	background: transparent;
	height: 30px;
	width: 30px;
	color: transparent;
}
.button-image_delete {
	background: url(./images/cross.png) no-repeat center center;
	background-size: cover;
}
